<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Servlet</display-name>
    <!-- ServletContext -->
    <context-param>
        <param-name>name</param-name>
        <param-value>heling</param-value>
    </context-param>
    <context-param>
        <param-name>address</param-name>
        <param-value>CQ</param-value>
    </context-param>
    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>com.servlet.first.FirstServlet</servlet-class>
        <!-- ServletConfig -->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
        <url-pattern>/another</url-pattern>
        <url-pattern>/more/*</url-pattern> <!-- 通配符* -->
    </servlet-mapping>

    <servlet>
        <servlet-name>requestServlet</servlet-name>
        <servlet-class>com.servlet.first.RequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestServlet</servlet-name>
        <url-pattern>/request</url-pattern>
        <url-pattern>/RequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>responseServlet</servlet-name>
        <servlet-class>com.servlet.first.ResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>responseServlet</servlet-name>
        <url-pattern>/ResponseServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>com.servlet.first.MyFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/RequestsServlet</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <listener>
        <listener-class>com.servlet.first.OnlineListener</listener-class>
    </listener>
</web-app>